 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --dark: #1f2937;
  --light: #f9fafb;
  --accent: #facc15;
  --white: #ffffff;
  --secondary: #e0f2fe;
  --secondary-dark: #bae6fd;
  --text: #374151;
  --text-light: #6b7280;
  --text-weight: 500;
  --text-weight-xl: 600;
  --p--5: 0.5rem;
  --p--75: 0.75rem;
  --p-1: 1rem;
  --p-2: 2rem;
  --p-4: 4rem;
  --p-6: 6rem;
}

body {
  background-color: var(--light);
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  overflow-y: hidden;
}
section{
    display: flex;
    width: 100%;
    position: relative;
}
section .container{
    display: flex;
    align-items: center;
    width: 100vw;
}
.container .img{
    width: 50%;
    height: 100%;
}
.container .img .img1{
    display: none;
}
.container .img .img2{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container .contentCon{
    display: flex;
    flex-direction: column;
    gap: var(--p-2);
    width: 50%;
}
.container .contentCon .content{
    display: flex;
    flex-direction: column;
    gap:var(--p--75);
}
.container .contentCon .content h2{
    font-size: 44px;
}
.container .contentCon .content p{
    font-size: 18px;
    font-weight: var(--text-weight-xl);
}
.container .contentCon .action-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.container .contentCon .action-buttons .primary-btn {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--p-1) var(--p-2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: var(--text-weight-xl);
}
.container .contentCon .action-buttons .primary-btn:hover {
    background-color: var(--primary-dark);
}
.container .contentCon .action-buttons .secondary-btn {
    background-color: var(--secondary);
    color: var(--primary);
    padding: var(--p-1) var(--p--75);
    border-radius: 8px;
    border: 2px solid var(--primary);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: var(--text-weight-xl);
}
.container .contentCon .action-buttons .secondary-btn:hover {
    background-color: var(--secondary-dark);
    border-color: var(--primary);
}
.container .contentCon .action-buttons .primary-btn, .secondary-btn .fas {
    margin-right: 5px;
    font-size: 1rem;
}
@media screen and (max-width:550px) {
    body{
        overflow-y: visible;
    }
    .container{
        flex-direction: column;
    }
    .container .img{
        width: 100%;
        height: 60%;
    }
    .container .img .img1{
        display: block;
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
    .container .img .img2{
        display: none;
    }
    .container .contentCon{
        width: 100%;
        margin-top: var(--p--75);
    }
    .container .contentCon .content{
        text-align: center;
        margin:var(--p-1) auto;
        height: 45vh;
        overflow-y: inherit;
    }
    .container .contentCon .content h2{
        font-size: 28px;
    }
    .container .contentCon .content p{
        font-size: 14px;
        padding-bottom: var(--p-2);
    }
    .container .contentCon .action-buttons{
        flex-direction: column;
        width: 100%;
        position: fixed;
        bottom: -2%;
        /* padding-top: var(--p-1); */
        padding-bottom: var(--p-1);
        background-color: var(--light);
    }
    .action-buttons .primary-btn,.secondary-btn{
        width: 80%;
    }
}