*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}
:root {
    --primary: #2563eb;
    --primary-dark: #1e40af;
    --dark: #1f2937;
    --light: #f9fafb;
    --accent: #facc15;
    --white: #ffffff;
    --secondary:#e0f2fe;
    --secondary-dark:#bae6fd;
    --text: #374151;
    --text-light: #6b7280;
    --text-weight: 500;
    --text-weight-xl: 600;
    --p--5:.5rem;
    --p--75:.75rem;
    --p-1:1rem;
    --p-2:2rem;
    --p-4:4rem;
    --p-6:6rem;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .content{
    padding:var(--p-2);
}
.content h1{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: var(--text-weight-xl);
}
.content .typewriter-text{
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    padding: var(--p--5) 0;
}
.content .typewriter-text #typewriter{
    color: var(--text-light);
    display: inline;
}
.content .action-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}
.content .action-buttons .primary-btn{
    background-color: var(--primary);
    color: var(--white);
    padding: 1.5rem var(--p-2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}
.content .action-buttons .primary-btn:hover{
    background-color:var(--primary-dark);
}
.content .action-buttons .secondary-btn {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1.5rem var(--p--75);
    border-radius: 8px;
    border: 2px solid var(--primary);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content .action-buttons .secondary-btn:hover {
    background-color:var(--secondary-dark) ;
    border-color: var(--primary);
}
button .fas{
    margin-right: 5px;
    font-size: 1rem;
}
.img1{
    display: none;
}
@media screen and (max-width: 550px){
    section{
        display: block;
        padding: .9rem 0;
        width: fit-content;
        justify-content: start;
    }
    section .container{
        display: block;
        width: 100%;
        height: 100%;
        .content{
            h2{
                font-size: 40px;
            }
            h2,p{
                transform: translateY(-5rem);
                text-align: center;
            }
            p{
                font-size: 18px;
            }
        }
    }
    section .container .img{
        height: 75%;
        width: auto;
        .img1{
            display: flex;
        }
        .img2{
            display: none;
        }
    }
    section .content .action-buttons{
        flex-direction: column;
        width: 80%;
        position: fixed;
        bottom: 0;
        padding-bottom: var(--p--75);
        transform: translateX(1rem);
    }
    .action-buttons .primary-btn,.secondary-btn{
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
        font-weight: var(--text-weight-xl);
    }
}