body{
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
}
:root {
    --primary: #2563eb;
    --primary-dark: #1e40af;
    --dark: #1f2937;
    --light: #f9fafb;
    --accent: #facc15;
    --white: #ffffff;
    --secondary:#e0f2fe;
    --secondary-dark:#bae6fd;
    --text: #374151;
    --text-light: #6b7280;
    --text-weight: 500;
    --text-weight-xl: 600;
    --p--5:.5rem;
    --p--75:.75rem;
    --p-1:1rem;
    --p-2:2rem;
    --p-4:4rem;
    --p-6:6rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 100vh; */
}
#formCon{
    width: 50%;
    height: fit-content;
    display: flex;  
    flex-direction: column;
    transform: translateY(3.5rem);
    border-radius: 5px;
    padding: var(--p-1) var(--p-4);
}

#userNameInpCon,#emailInpCon,#passwordInpCon,#confirmPasswordInpCon{
    display: flex;
    gap: .5rem;
    align-items: center;
    width: 50%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--text-light);
    margin-bottom: .5rem;
    transition: outline-color 1s ease-in-out;
    padding: 0 var(--p--75);
}
.changeInpBg{
    background-color: var(--secondary-dark) !important;
}
.allInp{
    outline: 3px solid transparent;
    padding: 1rem;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.allInp:focus::placeholder{
    color: black;
}
h2{
    font-size: 35px;
    font-weight: var(--text-weight-xl);
}
#formSubmitBtn{
    display: flex;
    align-items: center;
    gap: var(--p--75);
    margin-top: var(--p-2);
}
#googleSignUpBtn{
    display: flex;
    align-items: center;
    gap: var(--p--5);
}
#createBtn{
    background-color: var(--primary);
    color: var(--white);
    padding: var(--p-1) var(--p-2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    width: fit-content;
    font-weight: var(--text-weight-xl);
}
#createBtn:hover{
    background-color:var(--primary-dark);
}
#googleSignUpBtn .conP{
    font-weight: var(--text-weight-xl);
}
#continueBtn{
    border: none;
    background-color: white;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#continueBtn:hover{
    transform: scale(1.1);
}
#already{
    padding: var(--p-1) 0;
}
#already a{
    font-size: var(--p-1);
    font-weight: 600;
    color: var(--dark);
}
#hiddenPara{
    font-weight: var(--text-weight-xl);
}
.valid{
    color: green;
    padding: .1rem;
}
.invalid{
    color: red;
    padding: .1rem;
}
.my-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--light);
    font-size: .8rem;
    font-weight: 600;
    display: none;
}

.spinner {
width: 12px;
height: 12px;
border: 3px solid var(--light);
border-top: 3px solid var(--primary);
border-radius: 50%;
animation: spin 0.8s linear infinite;
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
} 
.container .signupImage{
    width: 50%;
    height: 100%;
}
.signupImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#error{
    background-color: rgb(248, 223, 223);
    align-items: center;
    gap: var(--p--5);
    font-size: 12px;
    width: 50%;
    padding:var(--p--75) var(--p--75);
    border-radius: 5px;
    border-bottom: 2px solid red;
    margin-top: var(--p--75);
    color: red;
    word-break: break-all;
    font-weight: var(--text-weight-xl);
    display: none;
}
@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    #formCon{
        width: 80%;
        padding:0 1.5rem;
    }
    #userNameInpCon,#emailInpCon,#passwordInpCon,#confirmPasswordInpCon{
        width: 100%;
    }
    .allInp{
        width: 100%;
    }
    #formSubmitBtn{
        flex-direction: column;
        width: 100%;
    }
    #createBtn{
        width: 100%;
    }
    #continueBtn:hover{
        transform: scale(1);
    }
    #googleSignUpBtn .conP{
        font-size: 14px;
    }
    a{
        text-align: center;
    }
    #error{
        width: 100%;
    }
    .signupImage{
        display: none;
    }
}